.start-button-root {
    position: absolute;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    top: 1400px;
    left: 60%;
}


.start-button {
    width: 380px;
    font-size: 52px;
    font-weight: bold;
    border-radius: 52px;
    padding: 15px;
    color: #ffffff;
    -unity-font-style: bold;
    -unity-font-definition: resource("Fonts/NotoSansKR-Regular");
    -unity-font-style: bold; 
    background-repeat: no-repeat no-repeat;
}

